.App {
    border: 3px solid black;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    margin: 150px auto;
}

.container {
    padding-top: 5px;
}

.buttons {
    border-radius: 20px;
    background: darkred;
    font-weight: bold;
    display: flex;
    margin: 10px;
    justify-content: space-between;
    padding: 40px 20px 10px 20px;
}

